# for all subdirectories
Makefile.in
Makefile
.libs
.deps
*.o
*.lo
*.la
*-marshal.[ch]

# autofoo stuff here
config.*
configure
depcomp
aclocal.m4
autom4te.cache
stamp-*
libtool
ltmain.sh
missing
install-sh
glib-gettextize
glib-zip
gtk-doc.make
compile
glib-lcov.info
glib-lcov

INSTALL
ChangeLog
m4

proxy/libproxy/glib-pacrunner
proxy/libproxy/org.gtk.GLib.PACRunner.service
proxy/tests/gnome

/tls/tests/certificate
/tls/tests/connection
