image: registry.gitlab.gnome.org/gnome/glib-networking/master:v12

fedora-x86_64:
  stage: build
  script:
    - meson --prefix=$HOME/glib-networking-installed
            -Dgnutls=enabled
            -Dopenssl=enabled
            -Dlibproxy=enabled
            -Dgnome_proxy=enabled
            -Dwerror=true
            _build/
    - ninja -C _build/
    - meson test -v -C _build/ --repeat=500
    - meson install -C _build/
  artifacts:
    paths:
      - _build/test-results
    when: on_failure

fedora-x86_64-asan:
  tags: [ privileged ]
  stage: build
  script:
    - meson -Db_sanitize=address
            -Dgnutls=enabled
            -Dopenssl=enabled
            -Dlibproxy=enabled
            -Dgnome_proxy=enabled
            -Dwerror=true
            _build/
    - ninja -C _build/
    - ASAN_OPTIONS=fast_unwind_on_malloc=0 meson test --verbose --timeout-multiplier=10 -C _build/
  artifacts:
    paths:
      - _build/test-results
    when: on_failure

fedora-x86_64-scan-build:
  stage: build
  script:
    - meson -Dgnutls=enabled
            -Dopenssl=enabled
            -Dlibproxy=enabled
            -Dgnome_proxy=enabled
            -Dwerror=true
            _build/
    - ninja -C _build/ scan-build
  artifacts:
    paths:
      - _build/meson-logs/scanbuild
    when: on_failure

vs2017-x64:
  stage: build
  except:
    - tags
  tags:
    - win32-ps
  script:
    - .gitlab-ci/test-msvc.bat
  artifacts:
    paths:
      - build/test-results
    when: on_failure
