image: registry.gitlab.gnome.org/gnome/glib-networking/master:v20

fedora-x86_64:
  stage: build
  variables:
    # Remove for PKCS11 logs, otherwise generates a lot of noise hitting gitlab's limit
    PKCS11SPY_PATH: disabled
  script:
    - cp .gitlab-ci/lcovrc ~/.lcovrc
    - meson --prefix=$HOME/glib-networking-installed
            -Db_coverage=true
            -Dgnutls=enabled
            -Dopenssl=enabled
            -Dlibproxy=enabled
            -Dgnome_proxy=enabled
            -Ddebug_logs=true
            -Dwerror=true
            _build/
    - meson compile -C _build/
    - meson test -v -C _build/ --repeat=1000
    - meson install -C _build/
    - ninja -C _build coverage-html
  artifacts:
    paths:
      - _build/test-results
      - _build/meson-logs/coveragereport
    when: always
  coverage: '/^\s+lines\.+:\s+([\d.]+\%)\s+/'

fedora-x86_64-asan:
  tags: [ asan ]
  stage: build
  variables:
    PKCS11SPY_PATH: disabled
    ASAN_OPTIONS: fast_unwind_on_malloc=0
  script:
    - meson -Db_sanitize=address
            -Dgnutls=enabled
            -Dopenssl=enabled
            -Dlibproxy=enabled
            -Dgnome_proxy=enabled
            -Ddebug_logs=true
            -Dwerror=true
            _build/
    - meson compile -C _build/
    - meson test --verbose --timeout-multiplier=10 -C _build/
  artifacts:
    paths:
      - _build/test-results
    when: on_failure

fedora-x86_64-scan-build:
  stage: build
  script:
    - meson -Dgnutls=enabled
            -Dopenssl=enabled
            -Dlibproxy=enabled
            -Dgnome_proxy=enabled
            -Ddebug_logs=true
            -Dwerror=true
            _build/
    - scan-build meson compile -C _build/
    - bash -c 'if [[ -n "$(ls -A _build/meson-logs/scanbuild/)" ]]; then echo "Scan build log found, assuming defects exist"; exit 1; fi'
  artifacts:
    paths:
      - _build/meson-logs/scanbuild
    when: on_failure

vs2017-x64:
  stage: build
  except:
    - tags
  tags:
    - win32-ps
  script:
    - .gitlab-ci/test-msvc.bat
  artifacts:
    paths:
      - build/test-results
    when: on_failure
