# for all subdirectories
Makefile.in
Makefile
.libs
.deps
*.o
*.lo
*.la
*-marshal.[ch]

# autofoo stuff here
compile
config.*
configure
depcomp
aclocal.m4
autom4te.cache
stamp-*
libtool
ltmain.sh
missing
install-sh
glib-gettextize
glib-zip
gtk-doc.make
compile
glib-lcov.info
glib-lcov

INSTALL
ChangeLog
m4

proxy/libproxy/glib-pacrunner
proxy/libproxy/org.gtk.GLib.PACRunner.service
proxy/tests/gnome
proxy/tests/libproxy

/tls/tests/certificate
/tls/tests/file-database
/tls/tests/connection
/tls/tests/pkcs11
/tls/tests/pkcs11-array
/tls/tests/pkcs11-pin
/tls/tests/pkcs11-slot
/tls/tests/pkcs11-util
