# for all subdirectories
Makefile.in
Makefile
.libs
.deps
*.o
*.lo
*.la
*.test
*.log
*.trs

# autofoo stuff here
compile
config.*
configure
depcomp
aclocal.m4
autom4te.cache
stamp-*
libtool
ltmain.sh
missing
install-sh
glib-gettextize
glib-zip
gtk-doc.make
compile
glib-lcov.info
glib-lcov
test-driver

INSTALL
ChangeLog
m4/libtool.m4
m4/lt*.m4

/tls/tests/certificate
/tls/tests/file-database
/tls/tests/connection
/tls/tests/pkcs11
/tls/tests/pkcs11-array
/tls/tests/pkcs11-pin
/tls/tests/pkcs11-slot
/tls/tests/pkcs11-util
/tls/tests/files/server-csr.pem
/tls/tests/files/client-csr.pem
